{% extends "base.html" %}
{% load rich_text %}

{% block content %}
    {% for post in posts %}
        <h1><a href="#">{{ post.title }}</a>
        </h1>
        <p class="lead">by <a href="/">{{ post.owner }}</a>
        </p>
        <hr>
        <p>
            <span class="glyphicon glyphicon-time"></span> Posted
            on {{ post.created }}</p>
        <hr>
        {{ post.intro|richtext }}
        <div class="post-footer">
            <a class="btn btn-primary" href="{{ post.url }}">Read More <span
                    class="glyphicon glyphicon-chevron-right"></span></a>
        </div>
        <hr>
    {% empty %}
        <h1>No entries</h1>
    {% endfor %}

    <!-- pager -->

    <ul class="pager">
        {% if posts.has_previous %}
        <li class="previous"><a href=?page={{ posts.previous_page_number }}">&larr; Previous</a></li>
        {% endif %}

        {% if posts.has_next %}
            <li class="next">
            <a href="?page={{ posts.next_page_number }}">Next &rarr;</a>
            </li>
        {% endif %}
    </ul>
    <span class="current">
        Page {{ posts.number }} of {{ posts.paginator.num_pages }}.
    </span>



{% endblock %}
